<div id="pupil">
   <h1>進捗管理</h1>

   <table>
      <tr>
         <th>演目</th>
         <th>最終稽古日付</th>
         <th>進捗</th>
         <th></th>
      </tr>

      <tr>
         <td>船弁慶</td>
         <td>2017年12月15日</td>
         <td>☆☆☆☆★ 45</td>
         <td>詳細</td>
      </tr>
   </table>
</div>
